[submodule "libs/imgui"]
	path = libs/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "libs/serialib"]
	path = libs/serialib
	url = git@github.com:MwangiGregory/serialib.git
[submodule "libs/implot"]
	path = libs/implot
	url = git@github.com:epezent/implot.git
